pipeline/OrderBlobsProcessor.json
{
	"name": "OrderBlobsProcessor",
	"properties": {
		"description": "This Pipelie would process incoming internet order blob files",
		"activities": [
			{
				"name": "Load processable blobs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspgetProcessableBLobs]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "BlobMetadataDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Iterate processable blobs",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Load processable blobs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Load processable blobs').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "DLSTargetProvider",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "DLSTargetProvider",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json",
									"Accept": "application/json"
								},
								"body": {
									"value": "@concat('{\"blobpath\":\"', item().path, '\", \"blobName\":\"', item().BlobName,'\"}')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "DLSTargetProviderFuntionConnection",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "CopyBlobStorageDataset",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DLSTargetProvider",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "orderid",
												"type": "Int32",
												"physicalType": "String"
											},
											"sink": {
												"name": "orderid",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "orderdate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "orderdate",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "customer",
												"type": "Int32",
												"physicalType": "String"
											},
											"sink": {
												"name": "customer",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "product",
												"type": "Int32",
												"physicalType": "String"
											},
											"sink": {
												"name": "product",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "units",
												"type": "Int32",
												"physicalType": "String"
											},
											"sink": {
												"name": "units",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "billingaddress",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "billingaddress",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "remarks",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "remarks",
												"type": "String",
												"physicalType": "UTF8"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "OrderBlobStorageDataset",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": {
											"value": "@activity('DLSTargetProvider').output.containerName",
											"type": "Expression"
										},
										"Folder": {
											"value": "@activity('DLSTargetProvider').output.path",
											"type": "Expression"
										},
										"Filename": {
											"value": "@activity('DLSTargetProvider').output.blobName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "OrganizedOrderDLSDataset",
									"type": "DatasetReference",
									"parameters": {
										"fileSystemName": "organized-data",
										"folder": {
											"value": "@activity('DLSTargetProvider').output.targetOrganizedFullPath",
											"type": "Expression"
										},
										"fileName": {
											"value": "@activity('DLSTargetProvider').output.targetOrganizedFileName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "updateBlobMetaData",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyBlobStorageDataset",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[uspUpdateMetaData]",
								"storedProcedureParameters": {
									"dlslocation": {
										"value": {
											"value": "@concat(activity('DLSTargetProvider').output.targetOrgnznizedFullPath,'/',activity('DLSTargetProvider').output.targetOrgznizedFileName)",
											"type": "Expression"
										},
										"type": "String"
									},
									"recordid": {
										"value": {
											"value": "@item().RecordId",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "BlobMetaDataSqlConnection",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"annotations": []
	}
}